/* Fonts*/

@font-face {
    font-family: "Raleway";
    src: url("/css/Raleway/Raleway-VariableFont_wght.ttf");
    font-weight: 100 1000;
}

/* Propriétés pour toute la page */

*{
    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;

    
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#logo{
    margin-left: 50px;
    margin-top: 10px;
}

#menu-header{
    display: flex;
    width: 30%;
}

.lien-header{
    width: 50%;
    min-width: 130px;
    text-align: center;
    padding-top: 50px;
    border-top: solid white;
    color: black;
}

.lien-header:hover {
    border-top: solid #0065FC;
    color: #0065FC;

}

/* Zone de recherche */

#champ-de-recherche{
    margin: 30px;
}

#titre-champ-de-recherche{
    font-size: x-large;
    font-weight: bold;
}
form {
    border: solid #F2F2F2;
    width: fit-content;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: large;
    margin-top: 25px;
}

#logo-de-recherche{
    background-color: #F2F2F2;
    height: inherit;
    padding: 18px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    font-size: x-large;
}

#zone-de-recherche{
    border: none;
    font-weight: bold;
    padding-left: 10px;

}

#zone-de-recherche:focus{
    outline: none;
}
#bouton-de-recherche{
    background-color: #0065FC;
    color: #F2F2F2;
    border: #0065FC;
    font-weight: bold;
    height: inherit;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    margin-right: -5px;

}

#bouton-de-recherche:hover{
    opacity: 70%;
}

#bouton-de-recherche-mobile{
    display: none;
}

/* section des filtres */

#titre-et-section-des-filtres{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    margin-left: 30px;
}
#titre-section-des-filtres{
    margin-right: 20px;
}

#section-des-filtres{
    display: flex;
    flex-wrap: wrap;

}

#section-des-filtres p{
    margin:20px;
}

.filtres{
    border:solid #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    margin: 20px 20px 20px 0px;

}

.filtres:hover{
    background-color: #DEEBFF;
}

.filtres i{
    background-color: #DEEBFF;
    font-size: x-large;
    border-radius: 100%;
    padding: 20px;
    margin: -10px;
    color: #0065FC;

}

#logo-famille{
    padding-left: 23px;
    padding-right:23px;
}
/* Info */

#info{
    margin-left: 30px;
    display: flex;
    align-items: center;
    width: fit-content;
}

#logo-info {
    color: #0065FC;
    border:solid #F2F2F2;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    border-radius: 100%;
    margin-right: 20px;
}

/* Section des hébergements */

#hebergements{
    margin-top:50px;
    margin-bottom: 50px;
    height: 750px;
    display: flex;
    justify-content: space-between;
}

#hebergementsMarseille{
    flex-basis: 64%;
    background-color: #F2F2F2;
    border-radius: 20px;

}

#hebergementsMarseille h2,h4{
    padding-left: 20px;  
}



#zoneCarteHebergement{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
}

.carte {
    background-color: white;
    flex-basis: 28%;
    min-width: 230px;
    height: fit-content;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column ;

}

.carte:hover{
    box-shadow: 10px 5px 5px black;
}
.carte a{
    text-decoration: none;
    color: black;
}

.imageCarte img{
    width: 100%;
    padding: 5px 5px 0px 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 150px;

}

.corpsCarte{
    font-size: small;
    padding-left: 5px;

}

.notes{
    padding: 5px;
    display: flex;
}

.noteBleu{
    color: #0065FC;
}

.noteGrise{
    color: #F2F2F2;
}
#lesPlusPopulaires{
    width: 33%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#zoneCarteLesPlusPopulaires{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.cartePopulaire{
    width: 85%;
    min-width: 250px;
    height: 20%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    font-size: small;
}

.cartePopulaireImage{
    height: 91%;
    width:38%;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-top-left-radius:15px;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;

}

.cartePopulaireImage img{
    height: 100%;
    width: 100%;
}

.cartePopulaireTexte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;

}

/*Section des activités*/

#activites{
    height:400px;
    width: 100%;
    margin-left:20px;
}

.zoneActivites{
    display:flex;
    justify-content: space-around;
}

.carteActivites{

    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
    overflow: hidden;
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 10px;
    border-radius: 20px;
    margin:20px;


}

.carteActivitesPetites{

    width: 300px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
    overflow: hidden;
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 10px;
    border-radius: 20px;
    margin:20px;

}


.carteActivites img{
    height: 250px;
}

.carteActivitesPetites img{
    height: 90px;
}

.carteActivites p{
    font-weight: bold;
    margin-left: 15px;
}

.carteActivitesPetites p{
    font-weight: bold;
    margin-left: 15px;
}

/* Section du footer */

#footer{
    width: 100%;
    height:200px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}

.colonneFooter{
    height: 100%;
    width:30%;
}


.lienFooter{
    margin-left: 20px;
    height:100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lienFooter a{
    margin-top:10px;
}


/* Responsive pour tablettes */

@media screen and (max-width:992px){

   


}

/* Responsive pour mobiles */

@media screen and (max-width:768px) {


    /* header pour mobile */

    header{
        flex-direction: column;
        align-items: center;
    }

    #logo{
        margin-bottom: 30px;
    }

    #menu-header{
        width: 100%;
    }

    .lien-header {
        padding-top: 0px;
        padding-bottom: 20px;
        border-bottom: solid #F2F2F2;
    }

    .lien-header:hover{
        border-top: solid white;
        border-bottom: solid #0065FC;
    }

    /* Zone de recherche pour mobile */


    form{
        margin: auto;
    }
    
    #bouton-de-recherche{
        display: none;
    }


    #bouton-de-recherche-mobile{
        display: flex;
        background-color: #0065FC;
        border: none;
        height: inherit;
        padding: 18px;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        margin-right: -5px;

    }

    #bouton-de-recherche-mobile:hover{
        opacity: 70%;
    }
    
    #bouton-de-recherche-mobile i{
        color: white;
        font-size: x-large;
    }
     /* section des hébergements pour mobile*/

     #hebergements{
        flex-direction: column-reverse;
        height: fit-content;

    }

    #lesPlusPopulaires{
        width: 100%;
    }





}
